.github
.gitignore
.markdownlint.json
.npmrc
.vscode
.vscodeignore
CONTRIBUTING.md
embed-schema.cjs
eslint.config.mjs
extension.mjs
jsconfig.json
node_modules
test
test-ui
webpack.config.js
webworker
