.github
.vscode
node_modules
test
test-ui
webworker
.eslintrc.json
.gitignore
.markdownlint.json
.npmrc
.vscodeignore
CONTRIBUTING.md
eslint.config.mjs
extension.mjs
generate-config-schema.js
jsconfig.json
webpack.config.js
