name: Checkers

on:
  pull_request:
  push:
  schedule:
  - cron: '30 12 * * *'
  workflow_dispatch:

jobs:

  linkcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: JustinBeckwith/linkinator-action@v2
      with:
        linksToSkip: '^https://github.com/ ^https://www.npmjs.com/ ^https://thisdavej.com/'
        paths: '*.md'

  spellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: tbroadley/spellchecker-cli-action@v1
      with:
        dictionaries: '.github/dictionary.txt'
        files: '*.md'
